body {
	padding:0;
	margin:0;
width:100%	
}
body{
	background-color:#333;
}

.errorMessage{
    color: #ff8530;
    font-family: open_sanslight;
    width: 350px;
    font-size: 10px;
    padding: 10px;
    margin-left: 150px;
}
.errorMessageBottom{
    color: #ff8530;
    font-family: open_sanslight;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    text-shadow: 0px 1px 2px rgb(47, 47, 47);
    font-family: open_sanslight;
    font-size: 10px;
    text-align: center;
}

.wrapper {
	width:100%;
	margin:0 auto;
}

.wrapper-middle {
	width:1024px;
	margin:0 auto;
}

.wrap-in {
	width:960px;
	margin: 0 auto;
}

.clr {
	clear:both;
}

.row {
	width:100%;
}

.row > div {
	float:left;
}

.column {
	padding-right:10px;
	padding-left:10px;
}

.c1 {width: 60px;}
.c2 {width:140px;}
.c3{width:220px;}
.c4{width:300px;}
.c5{width:380px;}
.c6{width:460px;}
.c7{width:520px;}
.c8{width:600px;}
.c9{width:680px;}
.c10{width:780px;}
.c11{width:840px;}
.c12{width:960px;}

.l1{padding-left:90px;}
.l2{padding-left:170px;}
.l9{padding-left:730px;}

.headerwrap {
	background-color:#212121;
}

#header {
	height: 72.5px;
	color:#fff;
	font-family: 'texgyreadventorregular';
}

#header #logo {
	margin-top:7px;
}

#header #title h1 {
	margin-top:35px;
	margin-left:32px;
	margin-bottom:2.25px;
	line-height:0;
	color:#f88011;
	font-size:24px;
}

#header #callus span{
    font-size:14px;
	margin-left:8px;
	margin-top:21px;
	display:block;
}

#header #phone span {
    margin-top:25px;
	margin-left:-1px;
	font-family:'robotolight';
	font-size:20px;
	display:block;
}

.subheaderwrap {
	background-color:#080808;
}

.subheaderwrap .wrapper-middle {
	background:url('../img/car-header.png');
}

#subheader {	
	height:293px;
}

#subheader #getcoupon {
	color:#fff;	
}

#subheader #getcoupon form {
	width:142px;
	margin-left:53px;
	margin-top:31px;
}

#subheader #getcoupon form input {
	font-family:'open_sanslight';
	height:29px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border:1px solid #fff;	
	padding-left: 11px;
    float: left;
    margin: 5px;
}

#subheader #getcoupon form input[type=text]{
	background:none;
	color:#fff;
	font-size:15px;
	width:91%;
}

#subheader #getcoupon form input[type=submit]{
	border-color:#f88011;
	background-color:#f88011;
	color:#fff;
	font-size:16px;
	width:100%;
}

#subheader #getcoupon ul {
	list-style:none;
	width:100%;
	margin:0;
	padding:0;
}

#subheader #getcoupon ul li {
	width:100%;
	margin-bottom:13px;
}

#subheader #getcoupon #title {
	font-family:'open_sansregular';
	font-size:16px;
	text-align:center;	
}

#subheader #getcoupon #title span {
	width:110px;
	display:block;
	margin:0 auto;
}

.serviceswrap {
	background:url('../img/services-background.png') no-repeat #fff;
}

#services{
	height:218px;
}

#services #title {
	margin-bottom:43px;
}

#services #title h3 {
	color:#212121;
	text-transform:uppercase;
	font-size:24px;
	font-family:'open_sanssemibold';
	display:block;
	margin:0 auto;
	width: 185px;
	margin-top:30px;	
}

#services {
	font-family:'open_sanssemibold';
	font-size:18px;
}

#services-in ul {
	list-style:none;
	margin:0;
	padding:0;
}

#services-in ul li {
	float:left;
	width:160px;
	margin-left:60px;
}

#services-in ul #brand {
	margin-left:0px;
}

#services-in ul li  #img {
	height:60px;
}

#services-in ul li  #img  img,#services-in ul li span {
margin:0 auto;
display:block;
}

#services-in ul li  #title {
	text-align:center;
}

.choosewrap{
	height:500px;
	background:url('../img/choose-background.png') no-repeat;
	background-size:cover;
    background-position: center;
    background-attachment: fixed;
	z-index:10;
}

#choose {
	height:419px;
}

#choose #title h3 {
	color:#fff;
	text-transform:uppercase;
	font-size:24px;
	font-family:'open_sanssemibold';
	display:block;
	margin:0 auto;
	width: 360px;
	margin-top:65px;	
}

#choose-in ul {
	list-style:none;
	margin:0;
	padding:0;
}

#choose-in ul li {
	float:left;
	margin-right:60px;
}

#choose-in ul #care{
	margin-right:0px;
}

#choose-in {
	margin-top:40px;
}

#choose-in #round {
	width:148px;
	height:148px;    	
}

#choose-in #premium #round {
	background:url('../img/choose-round-premium.png');
}

#choose-in #metal #round {
	background:url('../img/choose-round-metal.png');
}

#choose-in #factur #round {
	background:url('../img/choose-round-factur.png');
}

#choose-in #care #round {
	background:url('../img/choose-round-care.png');
}
#choose-in #round  span {
	color: #fff;
	font-family: 'open_sanssemibold';
	text-align: center;
	display: block;
	width:100%;
	padding-top: 65px;
	
}

#choose-in #oracal{
	font-family: 'open_sanslight';
	color:#fff;
	font-size:14px;
	margin-top:10px;
	text-align:center;
}

.whyuswrap {
	z-index:20;
	background:url('../img/whyus-background.png');
	background-size:cover;
	margin-top:-100px;
	transform: skewY(-5deg);
	overflow:hidden;
}

.whyuswrap > .wrapper-middle {
	transform: skewY(5deg);
}

#whyus {
	height:412px;
}

#whyus #title h3 {
	color:#fff;
	text-transform:uppercase;
	font-size:24px;
	font-family:'open_sanssemibold';
	display:block;
	margin:0 auto;
	width: 175px;
	margin-top:80px;	
}

#whyus #whyus-in ul {
	list-style:none;
	margin:0;
	padding:0;
}

#whyus #whyus-in ul li {
    float:left;
	width:180px;
	margin-right:105px;
}

#whyus #whyus-in #skin {
	margin-left:30px;
}

#whyus #whyus-in #lowcost {
	margin-right:0px;
}

#whyus-in {
	margin-top:45px;
}

#whyus-in ul li  #title {
	text-align:center;
	color:#fff;
	font-family:'open_sanssemibold';
	font-size:15px;
}

#whyus-in ul li #img {
	text-align:center;
}

.howeconomywrap {
	z-index:10;
	background:url('../img/howeconomy-background.png');
	background-size:cover;
    background-position: center;
    background-attachment: fixed;
	margin-top:-70px;
}

#howeconomy {
	height:605px;	
}

#howeconomy #howeconomy-in {
	height:425px;
	background:rgba(33,33,33,0.82);
	margin-top:130px;
	padding-bottom: 10px;
}

#howeconomy #title h3 {
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	font-family:'open_sanssemibold';
	display:block;
	margin:0 auto;
	width: 515px;
	margin-top:27px;
	text-align:center;
}

#howeconomy #title h3 span {
	color:#eb5e1b;
}

#howeconomy #rounds-top {
	margin-top:38px;
}

#howeconomy #rounds-top div, #howeconomy #rounds-bottom div {
	float:left;
}

#howeconomy #rounds-top #save {
	margin-right:112px;
}

#howeconomy #rounds-top #save #title {
	margin-left:182px;
	width:121px;	
}

#howeconomy #rounds-top #save #img {
	margin-left:23px;
	width:99px;
}

#howeconomy #rounds-top #clean #img {
	margin-right:30px;
	width:99px;
}

#howeconomy #rounds-top #clean #title {
	width:133px;
}

#howeconomy #rounds-top #title, #rounds-bottom #title {
	color:#fff;
	font-family:'open_sanssemibold';
	font-size:16px;
	text-align:center;
	margin-top:10px;
}

#howeconomy #rounds-bottom #protect, #howeconomy #rounds-bottom #change {
	margin-top: 25px;
}

#howeconomy #rounds-bottom #protect {
	width:265px;
	margin-left:50px;
}

#howeconomy #rounds-bottom #protect #title {
	width:157px;	
}

#howeconomy #rounds-bottom #protect #img {
	margin-left:10px;	
}

#howeconomy #rounds-bottom #car {
	
}

#howeconomy #rounds-bottom #change {
	width:240px;
	margin-left:27px;
}

#howeconomy #rounds-bottom #change #img {
		
}

#howeconomy #rounds-bottom #change #title {
	margin-left:16px;
	width:125px;
}

.howitworkswrap {
	z-index:30;
	margin-top:-7px;
}

.howitworkswrap #wave-border-top{
	height:7px;
	background-image: url('../img/wave-border-top.png'); 
	background-position: left top; 
	background-repeat: repeat-x;
	margin-bottom: -1px;
}

#howitworkswrap-in {
	height:652px;
	background-image: url('../img/howitworks-background.png');
	background-position: right top;
	background-repeat: no-repeat;
	background-color:#f88011;
}

#howitworks #title h3 {
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	font-family:'open_sanssemibold';
	display:block;
	margin:0 auto;
	width: 255px;
	margin-top:33px;	
}

#howitworks #howitworks-in-in {
	margin-top:50px;
	font-size:14px;
	font-family:'open_sansregular';
	color:#fff;
	position:relative;
}

#howitworks #howitworks-in-in {
	height:548px;
}

#howitworks #howitworks-in-in > div > div {
	float:left;
}

#howitworks #howitworks-in-in #request {
	margin-left:208px;
	height:83px;
	width:305px;
	background-image:url('../img/howitworks-request-arc.png');
	background-position:right bottom;
	background-repeat:no-repeat;
}

#howitworks #howitworks-in-in #request  #title {
	margin-top:20px;
}

#howitworks #howitworks-in-in #request  #img {
	margin-left:25px;
}

#howitworks #howitworks-in-in #manager {
	margin-left:420px;
	height:108px;
	width:382px;
	background-image:url('../img/howitworks-manager-arc.png');
	background-position:left bottom;
	background-repeat:no-repeat;
}

#howitworks #howitworks-in-in #manager #img {
	margin-left:75px;
}

#howitworks #howitworks-in-in #manager #title {
	margin-left:22px;
	width:230px;
}

#howitworks #howitworks-in-in #time {
	margin-left:154px;
	height:95px;
	width:343px;
	background-image:url('../img/howitworks-time-arc.png');
	background-position:right bottom;
	background-repeat:no-repeat;
}

#howitworks #howitworks-in-in #time #title {
	width:207px;
}

#howitworks #howitworks-in-in #time #img{
	margin-left:19px;
}

#howitworks #howitworks-in-in #design {
	margin-left:430px;
	height:116px;
	width:338px;
	background-image:url('../img/howitworks-design-arc.png');
	background-position:left bottom;
	background-repeat:no-repeat;
	margin-top:-20px;
}

#howitworks #howitworks-in-in #design  #img {
	margin-left:63px;
}

#howitworks #howitworks-in-in #design  #title {
	margin-left:18px;
	width:195px;
	margin-top:10px;
}

#howitworks #howitworks-in-in #taping {
	margin-left:246px;
	height:121px;
	width:247px;
	background-image:url('../img/howitworks-taping-arc.png');
	background-position:right bottom;
	background-repeat:no-repeat;
	margin-top:-30px;
}

#howitworks #howitworks-in-in #taping #title {
	width:114px;
    margin-top:20px;
    height:55px;	
}

#howitworks #howitworks-in-in #taping #img {
	margin-left:20px;	
}

#howitworks #howitworks-in-in #done {
	margin-left:494px;
	width:320px;
	margin-top:-30px;
}

#howitworks #howitworks-in-in #done #title {
	margin-left:22px;
	margin-top:10px;
	width:240px;
}

#wave-border-bottom{
	height:7px;
	background-image: url('../img/wave-border-bottom.png'); 
	background-position: left top; 
	background-repeat: repeat-x;	
	z-index:40;
	margin-top: -20px;
}

.portfoliowrap{
	background:#fff;
	margin-top: -1px;				
}

#portfolio {
	height:303px;
}

#portfolio #title h3 {
	color:#212121;
	font-size:26px;
	font-family:'open_sanssemibold';
	display:block;
	margin:0 auto;
	width: 152px;
	margin-top:27px;	
}

#portfolio-slider {
	margin-top:34px;
}

#portfolio #portfolio-slider #slider ul {
	list-style:none;
	margin:0;
	padding:0;
}

#portfolio #portfolio-slider #slider ul  > li {
	float:left;
	width:250px;
	height:166px;
	margin-right:6.5px;
	border:2px solid #cdc7c7;
}

#portfolio #portfolio-slider #slider ul .first {
	margin-left:5px;
}

#portfolio #portfolio-slider #arrow-right {
	text-align:right;
}

#portfolio #portfolio-slider #arrow-left, #portfolio #portfolio-slider #arrow-right {
	margin-top:64px;
}

#portfolio #portfolio-slider #slider ul .last {
	margin-right:0px;
}

#portfolio #portfolio-slider #slider img {
	width:240px;
	height:157px;
	padding:4px;
}

.orderwrap {
	background:#171717;
}

.orderwrap .wrapper-middle {
	background:url('../img/order-background.png');
}

#order {
	width:400px;
	height:364px;
	margin: 0 auto;
}

#order #title {
	margin-top:18px;
}

#order #title h3 {
	width:100%;
	display:block;
	color:#f88011;
	font-family:'open_sansregular';
	font-size:26px;
	line-height:0;
}

#order #subtitle span {
	width:100%;
	display:block;
	color:#fff;
	font-family:'open_sansregular';
	font-size:20px;
	text-align: center;
}

#order #order-in form {
	width:260px;
	margin:0 auto;
	margin-top:30px;
}

#order #order-in  form input {
	font-family:'open_sanslight';
	height:35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border:1px solid #f88011;	
	padding-left: 11px;
    
    margin:0 auto;	
}

#order #order-in  form input[type=text]{
	background:rgba(30,30,30,0.82);
	color:#fff;
	font-size:15px;
    width:246px;	
}

#order #order-in  form input[type=submit]{
	border-color:#f88011;
	background-color:#f88011;
	color:#fff;
	font-size:16px;
	width:257px;
}

#order #order-in ul {
	list-style:none;
	width:100%;
	margin:0;
	padding:0;
}

#order #order-in  ul li {
	width:100%;
    margin-bottom: 10px;
}

.footerwrap {
	background:#212121;
	border-top:1px dashed #f88011;
}

.footerwrap .scissors {
	height:15px;
	background-image:url('../img/scissors-footer.png');
	background-position: left top;
	background-repeat: no-repeat;
	margin-top:-8px;
}

#footer {
	height:128px;
    margin-top:30px;    
}

#footer #projects {
	float:left;
}	

#footer #contacts {
	float:right;
}

#footer #projects ul{
	list-style:none;
	margin:0;
	padding:0;
}

#footer #projects ul span, #footer #projects ul a {
	color:#f88011;
	font-family:'open_sanslight';
	font-size:14px;
}

#footer  #contacts #phone,#footer  #contacts #email {
	text-align:right;
	color:#f88011;
	font-family:'open_sanslight';
	font-size:18px;
}

#footer  #contacts #email {
	margin-top:10px;
}

#footer  #contacts #copyright {
	color:#f88011;
	font-family:'open_sanslight';
	font-size:14px;
	margin-top:30px;
}